img{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
}
script{
    z-index: 1;
    display: flex;
}
.slides { width: 100%; 
        margin-left: 350px;
}
h1{
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    text-align: center;
    margin-top: 200px;
}
 